div#paypal.
  <form action="/vaultSale" method="POST">
   <label>Amount (JPY):</label><input type="text" value="" name="amount"><br/>
   <label>Customer Id:</label><input type="text" value="" name="customerId"></br>
   <input type="submit" value="Pay by Vault!">
  </form>
